@media only screen and (min-width: 38rem) {
    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    header,
    main,
    nav,
    footer {
        max-width: 1100px;
        margin: 0 auto;
    }


    .navigation li {
        display: block;
    }

    .navigation {
        display: flex;
        gap: 2rem;
        padding-left: 0;
    }

    /* join*/
    .form-cards-div {
        grid-template-columns: 1fr 1fr;
    }
    #dialog-box {
        margin-top: 15rem;
        margin-left: 29rem;
    }
    form {
        margin-left: 5rem;
        margin-top: 1rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 38rem) {
    footer{
            display: grid;
        }
}