@media only screen and (min-width: 38rem) {
    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    header,
    main,
    nav,
    footer {
        max-width: 1100px;
        margin: 0 auto;
    }


    .navigation li {
        display: block;
    }

    .navigation {
        display: flex;
        gap: 2rem;
        padding-left: 0;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: 35rem 20rem auto;
        grid-template-rows: 2.5rem 1fr;
        column-gap: 5px;
    }
    
    .grid-layout section {
        width: none;
    }
    
    .business {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    /* join*/
    .h1join {
            margin-top: 1rem;
            max-width: 500px;
            margin-left: 18rem;
    }
    .form-cards-div {
        grid-template-columns: 1fr 1fr;
    }
    #dialog-box {
        margin-top: 15rem;
        margin-left: 29rem;
    }
    form {
        margin-left: 5rem;
        margin-top: 1rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

}

@media only screen and (max-width: 38rem) {
    footer{
            display: grid;
        }
}