@media only screen and (min-width: 38rem) {
    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    header,
    main,
    nav,
    footer {
        max-width: 1100px;
        margin: 0 auto;
    }


    .navigation li {
        display: block;
    }

    .navigation {
        display: flex;
        gap: 2rem;
        padding-left: 0;
    }
}