/* -------COLOR SCHEME -------
deep twilight blue : #21085D   */
:root {
    --primary-color: #003366;
    /* Azul oscuro */
    --secondary-color: #4DA3D9;
    /* Celeste */
    --neutral-gray: #ddd;
    /* Gris medio */
    --light-gray: #F4F6F8;
    /* Fondo */
    --dark-gray: #21085D;
    /* Texto */
}


*{
    margin: 0;
}
/* header */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
    font-family: "Roboto", sans-serif;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding-bottom: 3px;
}

.activeHome {
    font-weight: bold;
    border-bottom: 3px solid #ddd;
}
/* hamburger  */
.hamburger {
    background: none;
    border: none;
    color: #21085D;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";

}

/* navigation section */
nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
}

.navigation {
    list-style: none;
    margin: 0;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    font-family: "Roboto", sans-serif;
}

.navigation a:hover,
.navigation a:active {
    background-color: white;
    color: black;
    border-radius: 45px;
    outline: 1px solid #21085D;
}

.show li {
    display: block;
}

/* hero section */

.hero {
    text-align: center;
    padding: 2rem 0;
}

.hero-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container img {
    width: 50vw;
    max-height: 50vh;
    padding: 10px;
    border-radius: 50px;
    object-fit: cover;
}

.btn {
    background-color: var(--light-gray);
    text-decoration: none;
    padding: 5px;
    color: var(--dark-gray);
    border-radius: 15px;
    margin-bottom: 10px;
}

.btn:hover{
    outline: 1px solid var(--primary-color);
}
/* main section */

h1 {
    grid-column: 1/3;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.grid-layout {
    display: grid;
    grid-template-columns: 35rem 20rem auto;
    grid-template-rows: 2.5rem 1fr;
    column-gap: 5px;
    margin-bottom: 15px;
}

.grid-layout section {
    background-color: var(--neutral-gray);
    height: 110px;
    border-radius: 5px;
}

.grid-layout section p {
    padding: 5px;
}

.community {
    grid-column: 1/2;
    grid-row: 2/3;
}
.h1 {
    all: unset;
    font-size: 30px;
    font-weight: bold;
    font-family: roboto;
}

h2 {
    background-color: #003366;
    color: white;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.weather {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1.6em 1fr;
}

.weather h2 {
    grid-column: 1/3;
}

.weather img {
    width: 60%;
    height: auto;
    margin-left: 25px;
}

.forecast {
    grid-column: 3/4;
    grid-row: 2/3;
}
.business {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.business img {
    padding-top: 5px;
}

.business section {
    background-color: var(--primary-color);
    color: var(--light-gray);
    border-radius: 20px;
    padding: 5px;
}

.business h4 {
    color: var(--light-gray);
    padding: 5px;
    font-family: roboto;
    font-size: 20px;
}

.business section strong{
    color: var(--neutral-gray);
}

.p5 {
    border-bottom: 1px solid white;
}
/* fotter section */

footer {
    padding: 1rem 10px;
    text-align: center;
    margin-bottom: 0;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-around;
}

footer p {
    background-color: var(--primary-color);
    margin: 0;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 3px;
}

.social a {
    display: flex; 
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}


/* Directory */
.activeDirectory {
    font-weight: bold;
    border-bottom: 3px solid #ddd;
}

.pd {
    font-size: 30px;
    background-color: var(--secondary-color);
    color: var(--dark-gray);
}

.menu {
    background-color: var(--secondary-color);
    margin-bottom: 1em;
    padding: 1em;
    border-radius: .7em;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu button {
    background-color: var(--light-gray);
    color: black;
    padding: 0.1rem 0.4rem;
    font-weight: 700;
    font-size: 30px;
}

.grid {
    font-family: roboto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    background-color: var(--light-gray);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.grid section {
    background-color: var(--primary-color);
    color: var(--light-gray);
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #6C757D;
}

.grid section img{
    width: 190px;
    height: 175px;
    margin: 0 auto;
}

.list {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.list section {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 1em;
    margin: 0;
    text-align: left;
    padding: 1rem;
    font-size: .8rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: var(--primary-color);
    color: var(--light-gray);
}


/*Join page */ 

.h1join {
    color: black;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
}

.activeJoin {
    font-weight: bold;
    border-bottom: 3px solid #ddd;
}

form {
    background-color: var(--light-gray);
    border-radius: 25px;
}

form h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    
}

label {
    display: block;
    padding-top: 0.1rem;
    margin-left: 1rem;
}

input[type=text],
input[type=tel],
input[type=email],
select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: 0.3rem;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    border-left-width: 7px;
    border-left-color: var(--primary-color);
    font-size: 1rem;
    width: 300px;
}

input::placeholder {
    color: #aaa;
}

form textarea {
    display: block;
    margin: 0.1rem 0 1rem 0;
    height: 3rem;
    width: 320px;
}

input:required {
    border-left-color: red;
}

input:required:valid {
    border-left-color: green;
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 3.2rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: skyblue;
    color: var(--primary-color);
    border: 1px solid var(--dark-gray);
}

form fieldset {
    border: none;
    padding: 0;
    margin: 0.1rem 0 1rem 0;
}

form legend {
    font-size: 1rem;
    padding-bottom: 0.2rem;
    margin-left: 1rem;
}


.level-cards {
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Thank you Page */ 

.thanks {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem;
    margin-bottom: 8rem;
    margin-left: 15rem;
    max-width: 600px;
}

.thanks legend {
    font-size: 1.3rem;
    margin: 5px;
    background-color: white;
    border-radius: 20px;
}

.thanks H1 {
    font-size: 1.5rem;
    font-family: roboto;
}

#join-timestamp {
    font-size: 1rem;
}


/* Cards*/
.form-cards-div {
    display: grid;
}

.level-cards {
    margin-right: 5rem;
}

.mCard {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#dialog-box {
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0 0 0 / 60%);
}

#dialog-box.np::backdrop {
    background-color: rgba(143, 139, 139, 0.5);
}

#dialog-box.bronze::backdrop {
    background-color: rgba(151, 81, 10, 0.5);
}

#dialog-box.silver::backdrop {
    background-color: rgba(134, 130, 130, 0.5);
}

#dialog-box.gold::backdrop {
    background-color: rgba(205, 189, 22, 0.5);
}

.level-cards h2 {
    font-size: 1.7rem;
    color: var(--light-gray);
    margin: 1.5rem 0 .2rem 0;
    border-radius: 5px;
}

.mCard h3 {
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px;
}


#dialog-box div {
    padding: 0.5rem;
    font-size: 0.9rem;
}

#dialog-box ul {
    margin-left: 1rem;
}

#dialog-box p:nth-of-type(2) {
    padding-top: 0.5rem;
}

.mCard button {
    display: block;
    width: 120px;
    height: 44px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px auto 5px auto;
}

#dialog-box button {
    width: 120px;
    height: 44px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 35%;
    margin-bottom: 0.5rem;
}