/* -------COLOR SCHEME -------
deep twilight blue : #21085D   */
:root {
    --primary-color: #003366;
    /* Azul oscuro */
    --secondary-color: #4DA3D9;
    /* Celeste */
    --neutral-gray: #ddd;
    /* Gris medio */
    --light-gray: #F4F6F8;
    /* Fondo */
    --dark-gray: #21085D;
    /* Texto */
}


*{
    margin: 0;
}
/* header */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
    font-family: "Roboto", sans-serif;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding-bottom: 3px;
}

.activeHome {
    font-weight: bold;
    border-bottom: 3px solid #ddd;
}
/* hamburger  */
.hamburger {
    background: none;
    border: none;
    color: #21085D;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";

}

/* navigation section */
nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
}

.navigation {
    list-style: none;
    margin: 0;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    font-family: "Roboto", sans-serif;
}

.navigation a:hover,
.navigation a:active {
    background-color: white;
    color: black;
    border-radius: 45px;
    outline: 1px solid #21085D;
}

.show li {
    display: block;
}

/* hero section */

.hero {
    text-align: center;
    padding: 2rem 0;
}

.hero-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container img {
    width: 50vw;
    max-height: 50vh;
    padding: 10px;
    border-radius: 50px;
    object-fit: cover;
}

.btn {
    background-color: var(--light-gray);
    text-decoration: none;
    padding: 5px;
    color: var(--dark-gray);
    border-radius: 15px;
    margin-bottom: 10px;
}

.btn:hover{
    outline: 1px solid var(--primary-color);
}
/* main section */

h1 {
    grid-column: 1/3;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.grid-layout {
    display: grid;
    grid-template-columns: 35rem 20rem auto;
    grid-template-rows: 2.5rem 1fr;
    column-gap: 5px;
    margin-bottom: 15px;
}

.grid-layout section {
    background-color: var(--neutral-gray);
    height: 110px;
    border-radius: 5px;
}

.grid-layout section p {
    padding: 5px;
}

.community {
    grid-column: 1/2;
    grid-row: 2/3;
}
.h1 {
    all: unset;
    font-size: 30px;
    font-weight: bold;
    font-family: roboto;
}

h2 {
    background-color: #003366;
    color: white;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.weather {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1.6em 1fr;
}

.weather h2 {
    grid-column: 1/3;
}

.weather img {
    width: 60%;
    height: auto;
    margin-left: 25px;
}

.forecast {
    grid-column: 3/4;
    grid-row: 2/3;
}
.business {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.business img {
    padding-top: 5px;
}

.business section {
    background-color: var(--primary-color);
    color: var(--light-gray);
    border-radius: 20px;
    padding: 5px;
}

.business h4 {
    color: var(--light-gray);
    padding: 5px;
    font-family: roboto;
    font-size: 20px;
}

.business section strong{
    color: var(--neutral-gray);
}

.p5 {
    border-bottom: 1px solid white;
}
/* fotter section */

footer {
    padding: 1rem 10px;
    text-align: center;
    margin-bottom: 0;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-around;
}

footer p {
    background-color: var(--primary-color);
    margin: 0;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 3px;
}

.social a {
    display: flex; 
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}


/* Directory */
.activeDirectory {
    font-weight: bold;
    border-bottom: 3px solid #ddd;
}

.pd {
    font-size: 30px;
    background-color: var(--secondary-color);
    color: var(--dark-gray);
}

.menu {
    background-color: var(--secondary-color);
    margin-bottom: 1em;
    padding: 1em;
    border-radius: .7em;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu button {
    background-color: var(--light-gray);
    color: black;
    padding: 0.1rem 0.4rem;
    font-weight: 700;
    font-size: 30px;
}

.grid {
    font-family: roboto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    background-color: var(--light-gray);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.grid section {
    background-color: var(--primary-color);
    color: var(--light-gray);
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #6C757D;
}

.grid section img{
    width: 190px;
    height: 175px;
    margin: 0 auto;
}

.list {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.list section {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 1em;
    margin: 0;
    text-align: left;
    padding: 1rem;
    font-size: .8rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: var(--primary-color);
    color: var(--light-gray);
}
