@media only screen and (min-width: 38rem) {
    .places div {
        grid-template-areas:
            "photograph name"
            "photograph description"
            "photograph location";
        }
    .places div img {
        width: 300px;
    }
}