/* -------COLOR SCHEME -------
deep twilight blue : #21085D   */


/* header */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
    font-family: "Roboto", sans-serif;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #21085D;
    padding-bottom: 3px;
}

/* hamburger  */
.hamburger {
    background: none;
    border: none;
    color: #21085D;
    cursor: pointer;
}
.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    
}

/* navigation section */
nav {
    background-color: black;
    display: flex;
    justify-content: flex-start;
}

.navigation {
    list-style: none;
    margin: 0;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem,2vmin,1.5rem);
    font-family: "Roboto", sans-serif;
}

.navigation a:hover,
.navigation a:active {
    background-color: white;
    color: black;
    border-radius: 45px;
    outline: 1px solid #21085D;
}

.show li {
    display: block;
}

/* main section */

h1 {
    grid-column: 1/3;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.grid-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}

.certificate {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0.5rem;
    grid-column: 1/3;
    margin-top: 10px;
}

.certificate h2 {
    grid-column: 1/4;
}


.allC {
    grid-column: 1/2;
}

.cse {
    grid-column: 2/3;
}

.wdd {
    grid-column: 3/4;
}

.certificate p {
    grid-column: 1/4;
    text-align: center;
}

.about {
    margin-right: 10px;
    background-color: #ddd;
}

.about p {
    padding: 5px;
}
.me {
    margin-right: 10px;
    background-color: #ddd;
    text-align: center;
}

.me img {
    width: 25%;
    height: auto;
    margin: 20px;
    border: solid 3px #aaa;
    border-radius: 7px;
}

h2 {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.courses {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin-top: 1rem;
    grid-column: 1/4;
}

.course-card {
    padding: 1.2rem;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

.course-card.completed {
    background-color: #f3f0dc;
}

.course-card.not-completed {
    background-color: #d97a;
}

/* fotter section */

footer {
    padding: 1rem 10px;
    text-align: center;
    margin-bottom: 0;
}

footer p {
    background-color: #ddd;
    margin: 0;
}

.p1 {
    padding: 5px;
}

.p2 {
    padding-bottom: 8px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 5px;
}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}