*{
    margin: 0;
}
header {
    text-align: center;
    background-color: #430c0c;
    color: white;
    padding: 10px;
}
.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #eee;
    border: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

section p {
    font-size: smaller;
    text-align: center;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #111;
}

footer {
    text-align: center;
    background-color: #430c0c;
    color: white;
    padding: 15px;
}