:root {
    --dodger-blue: #2191FB;
    --pale-slate: #FEEFDD;
    --indigo-ink: #27187E;
    --pumpkin-spice: #FF6700;
    --onyx: #03120E;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--pale-slate);
    color: var(--onyx);
    line-height: 1.6;
}

header {
    background-color: var(--dodger-blue);
    color: white;
    padding: 1.5rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

section {
    background: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-left: 8px solid var(--indigo-ink);
    border-radius: 5px;
}

section img{
    text-align: center;
}

h1 {
    color: var(--onyx);
}
h2,
h3 {
    color: var(--indigo-ink);
}

.title {
    color: var(--pumpkin-spice);
    font-weight: bold;
}


footer {
    background-color: var(--dodger-blue);
    color: black;
    text-align: center;
    font-size: 20pxx;
    padding: 1rem;
}