@media only screen and (min-width: 60rem) {   /* 64rem */
    .hamburger {
            display: none;
        }
    
        header {
            grid-template-columns: 45px 33% 47% auto;
        }

        .navigation li {
            display: block;
        }
    
        .navigation {
            display: flex;
            gap: rem;
            padding-left: 0;
        }

        main h1 {
            font-size: 25px;
        }

        .startlearning {
            display: block;
        }
        .homeSection {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
        }
        .introduction {
            margin-left: 110px;
            margin-right: 50px;
            font-family: roboto;
        }

        .levels {
            display: grid;
            grid-template-columns: 24% auto auto auto;
            grid-template-rows: auto auto auto auto;
            grid-gap: 1rem;
            margin: 0 50px;
        }

        .topics {
            grid-column: 1/5;
            display: grid;
            grid-template-columns: 23% auto auto auto;
        }

        .levels h2 {
            border-bottom: 2px solid var(--bodytext);
            text-align: center;
            margin: 20px 31%;
            grid-column: 1/5;
            font-size: 23px;
        }

        .levels p {
            text-align: center;
            grid-column: 1/5;
            margin: 0 45%;
        }
        #b1 {
            grid-column: 4/5;
            margin: 0 ;
        }
}